.main_con {
    width: 95%;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 12px;
    opacity: 1;
    padding: 10px;
    margin-top: 20px;
}

.info_div {
    font-size: 18px;
    line-height: 20px;
    font-family: "Product Sans", sans-serif;
    letter-spacing: 0.6px;
    color: #222222;
}

.info_text {
    background: #F3F3F3;
    border-radius: 4px;
    padding: 15px 20px;
    
}

/*  */
/* singup and login css */

  

  /* Form group */
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  /* Labels */
  .form-label {
    font-size: 15px;
    color: #333;
    margin-bottom: 5px;
  }
  
  /* Input fields */
  .form-input {
    width: 100% !important;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background: #f9f9f9;
    transition: all 0.3s ease-in-out;
    outline: none;
    height: 30px;
  }
  
  .form-input:focus {
    border-color: #888; /* Soft grey color */
    box-shadow: 0 0 5px rgba(136, 136, 136, 0.5); /* Light grey shadow */
  }
  
  /* Red label color when there's an error */
  .error-label {
    color: red;
    /* font-weight: bold; */
  }
  
  /* Red border for input fields with errors */
  .error-input {
    border: 1px solid red;
    background-color: #ffe6e6;
  }
  
  /* Red asterisk for required fields */
  .error-asterisk {
    color: red;
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold;
  }
  
  /* Submit Button */
  .submit-button {
    width: 100%;
    background: #fe8062;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .submit-button:hover {
    background: #d66145;
  }
  
  
  .mt {
    margin-top: 10px;
  }
  
  

   