.group-list-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin-top: 20px;
  }
  
  .group-list-container h2 {
    font-size: 1.6rem;
    margin-bottom: 16px;
    color: #ff7a59;
    text-align: center;
  }
  
  .group-list {
    display: flex;
    flex-direction: column; /* Align items vertically */
    gap: 12px; /* space between items */
    max-height: 180px; /* Limit the height of the list */
    overflow-y: scroll; /* Enable vertical scrolling */
    padding-right: 8px; /* Add padding to the right side for scroll */
  }
  
  .group-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-height: 50px; /* Set a minimum height for each group */
  }
  
  .group-item:hover {
    background-color: #ffe5de;
    transform: translateY(-4px);
  }
  
  .group-name {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
  }
  
  .group-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  color: #ff7a59;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  margin-top: 5px;
}

.edit-button:hover,
.delete-button:hover {
  color: #e76f4c;
}

.delete-icon {
    color: #f05252;
  font-size: 1.3rem;
}
.edit-icon {
    color: #50c96c;
    font-size: 1.3rem;
}
  
  
  .select-button {
    background-color: #ff7a59;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .select-button:hover {
    background-color: #e76f4c;
  }
  