/* Table Container */
.table-container {
  max-height: 470px;
  width: 95%;
  overflow: auto;
  /* overflow-x: scroll; */
  overflow-y: scroll;
  margin-top: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table */
.custom-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
}

/* Table Head */
.custom-table th {
  background-color: #f27c5f;
  color: white;
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

/* Table Body */
.custom-table td {
  padding: 12px;
  font-size: 14px;
  color: gray;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Hover Effect */
.custom-table tbody tr:hover {
  background-color: #f7f4f3;
}

/* Status Badge */
.status-active {
  color: #50c96c !important;
  font-weight: bold;
}

.status-inactive {
  color: rgb(236, 111, 111) !important;
  font-weight: bold;
}

/* icons code  */

/* Icon Container */
.icon-container {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

/* Icon Styling */
.icon {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Icon Colors */
.view-icon {
  color: #9cc5e0; /* Blue for view */
}
.edit-icon {
  color: #50c96c; /* Orange for edit */
}
.delete-icon {
  color: #f05252; /* Red for delete */
}

/* Hover Effect */
.icon:hover {
  transform: scale(1.2);
}

/* Responsive Table */
@media (max-width: 768px) {
  .custom-table th,
  .custom-table td {
    padding: 10px;
    font-size: 14px;
  }
}

.empty-state {
  text-align: center;
  padding: 40px 20px;
  color: #888;
  font-size: 16px;
}

.empty-state svg {
  color: #fe8062;
  margin-bottom: 10px;
}
.search-input {
  width: 250px;
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background: #ffffff;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  outline: none;
  border-color: #fe8062; /* Indigo */
  box-shadow: 0 0 8px rgba(248, 83, 54, 0.6);
  background: #f9f9ff;
  transform: scale(1.02);
}

.input-search-div {
  margin: 10px;
}

.input-search-div {
  position: relative;
  width: 250px; /* or whatever fits */
}

.search-input {
  width: 100%;
  padding-right: 30px; /* leave space for the clear icon */
}

.clear-icon:hover {
  color: #333;
}

